*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: black;

}

#container {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    height: 426px;
    width: 768px;
}

.flex-item {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 426px;
    width: 768px;
}

img{
    width:50%;
    height: auto;
    border-radius: 100%;

}

p {
color: aliceblue;
font-family: 'Courier New', Courier, monospace;
align-items: baseline;
padding: 20px;
}
h2{
    text-align: center;
    color:aliceblue;
    font-size: 70px;
    font-family:Creepster;
    padding-top: 10px;

}
span{
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
    
}