*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
header{
    display:flex;
    flex-direction: column;
  }
nav{
    display:flex;
    align-items: center;
    justify-content: space-around; 
    background-color: white;
}
ul{
    display: flex;
} 
li {
display:grid;
list-style-type: disc;
padding: 20px;
font-size: medium;
font-family: bebas neue;
}

img{
    width:8%;
    height:auto;
}
a {
    color: green;
}
#banner-principal{
   background-image: url(assets/joysticks-g4604d37c0_1280.jpg);
   background-size: cover;
   height: 81vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
  
}

#field-title{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-top: 150px;
}
#field-options{
    width: 70%;
    height: 35vh;
    background-color: blue;
    display:flex;
    padding: 27px;
    display:flex;
    justify-content:space-between;

}

#banner-1,
#banner-2,
#banner-3{
    width:33.33%;
}

#banner-3-hours{
    display:flex;
    flex-direction: column;

}
}